.create_post {
    width: 800px;
    height: 950px;
    margin:auto;
    padding-top: 200px;
    p {
        width: 535px;
        margin:auto;
        font-size: 1.5em;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .create_post_titre {
        display: flex;
        width: 490px;
        height: 50px;
        margin:auto;
        font-size:2em;
    }
    .hide_create_post_image{
        visibility:hidden;

    }
    .div_button_create_post_image {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    .button_create_post_image{
        justify-content: center;
                background-color:rgb(132, 238, 132);
                border-radius: 12px;
                border: none;
                width: 200px;
                height: 60px;
                font-size: 2em;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    opacity: 1
                }
    }
}
    .button_create_post_image_hide{
        display:none;
    }
    .create_post_image {
        width: 500px;
        height: 500px;
        display: flex;
        margin: auto;
    }
    .create_post_image_disabled {
        display: none;
    }
    .div_button_create_post_submit {
        display: flex;
        justify-content: center;
        .button_create_post_submit {
            // text-align: center;
            // display: flex;
                justify-content: center;
                background-color: #f03f22;
                border-radius: 12px;
                border: none;
                width: 200px;
                height: 60px;
                font-size: 2em;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    opacity: 1
                }
        }
    }
}

