.create_post {
    width: 800px;
    height: 850px;
    margin:auto;
    padding-top: 250px;
    p {
        width: 535px;
        margin:auto;
        font-size: 1.5em;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .create_post_titre {
        display: flex;
        width: 490px;
        height: 50px;
        margin:auto;
        font-size:2em;
    }
    .button_create_post_image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 30px;
        margin: auto;
        color: transparent;
    }
    .button_create_post_image_hide{
        display:none;
    }
    .create_post_image {
        width: 500px;
        height: 500px;
        display: flex;
        margin: auto;
    }
    .div_button_create_post_submit {
        display: flex;
        justify-content: center;
        .button_create_post_submit {
            // text-align: center;
            // display: flex;
                justify-content: center;
                background-color: #f03f22;
                border-radius: 12px;
                border: none;
                width: 200px;
                height: 60px;
                font-size: 2em;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    opacity: 1
                }
        }
    }
}


// .Button_profil { 
//     display: flex;
//     justify-content: space-evenly;
//     background-color: #f03f22;
//     border-radius: 12px;
//     border: none;
//     width: 200px;
//     height: 60px;
//     font-size: 0.7em;
//     opacity: 0.6;
//     transition: 0.3s;
//     display: inline-block;
//     text-decoration: none;
//     cursor: pointer;
//     &:hover {
//         opacity: 1
//     }