.groupo_header {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .groupo-logo {
        height: 150px;
        width: 750px;
        margin:auto;
    }
    .groupo-title {
        margin:auto;
    }
}
