.login_form,
.signup_form,
.password_oublie {
    width: 800px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 700px;
        height: 650px;
        @media screen and (min-width: 320px) and (max-width: 1000px) {
            width: 300px;
        }
        p {
            font-size: 2em;
            display: flex;
            justify-content: center;
        }
    }
    input,
    textarea,
    select {
        border: 2px solid black;
        display: flex;
        justify-content: center;
        width: 600px;
        height: 50px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2em;
        @media screen and (min-width: 320px) and (max-width: 1000px) {
            width: 280px;
        }
    }
    button {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 50px;
        font-size: 2em;
        margin: auto;
        margin-top: 30px;
    }
    @media screen and (min-width: 320px) and (max-width: 1000px) {
        padding-top: 150px;
        width: 300px;
        height: 1000px;
    }
}

.signup_form {
    height: 1100px;
    .button_cancel {
        color: blue;
    }
    @media screen and (min-width: 320px) and (max-width: 1000px) {
        width: 300px;
    }
}

.password_oublie {
    height: 600px;
    form {
        height: 300px;
    }
    .button_cancel {
        color: blue;
    }
}

.legende_modif_MDP {
    font-size: 2.5em;
}
