.navbar {
  z-index: 10;
  position: fixed;
  width: 100%;
  margin-top: 150px;
    margin-bottom: 0px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        margin-bottom: 0!important;
        padding-bottom: 0!important;
      }
      
      li {
          width: 30%;
        float: left;
        font-size: 2em;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding-bottom: 14px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }
      .Deconnexion {
        width: 10%;
      }
}