

.UnPost {
	width: 900px;
	margin:auto;
	list-style-type: none;
	.post_titre {
		margin-left: 30px;
		size: 2em;
	}
	.post_image {
		width: 900px;
		height: 600px;
		border-radius: 30px;
	}
	.post_legende {
		width: 500px;
		margin:auto;
		display: flex;
		justify-content:flex-end;
		font-size: 1.5em;
	}
	.legende_fermer_post {
		display: flex;
		float: right;
		font-size: 2em;
	}
	.button_fermer_post {
		float: right;
		font-size: 1em;
		height: 50px;
		width: 50px;
		background-color:#f03f22;
	}
}
